*.DS_Store
node_modules/*

# openapi generated code
output/
openapitools.json

# virtual environments
.venv/

# images
images/
videos/
changelog/

node_modules/

# lint compiled binary
tools/lint/lint