.nav-logo {
  width: 80px;
  height: auto;
}

.rounded-xl {
  border-radius: 10px !important;  /* Change from 8px */
}

.rounded-xt {
  border-radius: 10px !important;  /* Change from 8px */
}

.rounded-2xl {
  border-radius: 10px !important;  /* Change from 10px */
}

/* Center mermaid diagrams horizontally */
.mermaid {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
